html {
    background: gold;
}

body {
    width: 400px;
    margin: auto;
    font-family: monospace;
}

nav {
    border: 1px solid;
}

li:first-child {
    list-style: none;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

section.demo ul {
    margin: 0px 0px 50px;
    padding: 0px;
}

section.demo ul li {
    border: 1px solid black;
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 12px 25px;
    height: 16px;
}


@media only screen and (max-width: 500px) {

    html {
        background: white;
    }


    body {
        width: 100%;
    }


    nav {
        border: none;
    }

    section {
        padding: 20px 10px
    }

    section:nth-child(even) {
        background: rgb(225, 225, 225);

    }
}
